{% extends 'base.html' %}

{% load jalali_tags %}

{% block title %}داشبورد{% endblock %}


<h1>{% block content_title %}داشبورد{% endblock %}</h1>

{% block content %}
<h1> {{ user.username }} خوش آمدید</h1>

<div class="container">

    <div class="company-list">
        {% for company in companies %}
            <div class="company-row">
                <div class="company-header">
                    <span>{{ company.name }}</span>
                    <span class="company-expiration">تاریخ انقضا: {{ company.expiration_date|to_jalali:'%y/%m/%d' }}</span>
                    <i class="fas fa-chevron-down"></i>
                </div>
                <div class="company-details">
                <input type="text" name="{{ company.license_key }}" value="{{ company.license_key }}" class="form-control readonly-license-key">
                    <br>
                    <br>
                    <div class="details-content">
                        <h3 style="color: black;">دستگاه‌ها:</h3>
                        <ul>
                            {% for device in company.devices.all %}
                                <li>
                                    <span class="admin-details" style="font-size: 25px;">
                                         <a href="{% url 'raad:device_update' device.id %}" class="update-button">
                                             {{ device.name }}
                                         </a>
                                    </span>
                                </li>
                            {% endfor %}
                        </ul>
                        <h3 style="color: black;">مدیران پیامرسان:</h3>
                        <ul>
                            {% for admin in company.admins.all %}
                                <li class="admin-item">
                                    <span class="admin-details" style="font-size: 25px;">
                                        <a href="{% url 'raad:edit_messenger_admin' admin.id %}" class="edit-admin-link">
                                         {{ admin.messenger }} : {{ admin.admin_messenger_id }}
                                        </a>
                                    </span>
                                </li>
                            {% endfor %}
                        </ul>
                        <a href="{% url 'raad:add_messenger_admin' company_id=company.id %}" class="add-admin-btn">
                                <button type="button" class="btn btn-danger">افزودن مدیر پیامرسان</button>
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<style>
    .container {
        text-align: center;
    }

    .company-list {
        font-family: Arial, sans-serif;
    }

    .company-row {
        margin: 10px;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
        cursor: pointer;
    }

    .company-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #f7f7f7;
        padding: 10px;
        border-radius: 5px;
    }

    .company-header span {
        font-size: 18px;
        font-weight: bold;
        color: #333;
    }

    .company-header .company-expiration {
        font-size: 14px;
        color: #888;
    }

    .company-header i {
        font-size: 20px;
        color: #333;
        transition: transform 0.3s;
    }

    .company-details {
        display: none;
        margin-top: 10px;
    }

    .details-content {
        background-color: #f7f7f7;
        padding: 10px;
        border-radius: 5px;
    }

    .company-details h3 {
        font-size: 16px;
        font-weight: bold;
        color: #007BFF;
    }

    .company-details ul {
        list-style-type: none;
        padding: 0;
    }

    .company-details ul li {
        margin-bottom: 5px;
        font-size: 14px;
        color: #555;
        display: flex;
        align-items: center;
    }

    .company-details ul li a {
        margin-left: 10px;
        color: #007BFF;
        text-decoration: none;
    }

    .add-admin-btn {
        background-color: #007BFF;
        color: #fff;
        border: none;
        padding: 5px 10px;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 10px;
    }

    .add-admin-btn:hover {
        background-color: #0056b3;
    }

    .company-row.opened .company-header i {
        transform: rotate(180deg);
    }

    /* Style for admin item list */
.admin-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    list-style: none;
}

/* Style for admin details */
.admin-details {
    flex-grow: 1; /* Expands to take available space */
    color: #333; /* Text color for details */
}

.admin-actions {
    margin-left: 10px;
    font-size: 14px;
}

.edit-admin-link,
.delete-admin-link {
    color: #007BFF; /* Link color */
    text-decoration: none;
    margin-left: 10px;
}

/* Hover effect for links */
.edit-admin-link:hover,
.delete-admin-link:hover {
    text-decoration: underline; /* Underline on hover */
}
/* Style for readonly license key input */
.readonly-license-key {
    width: 97%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f7f7f7;
    color: #333;
    font-size: 16px; /* Adjust the font size as needed */
    font-weight: bold;
    cursor: default;
    outline: none;
}
    .btn {
        background-color: #007BFF;
        color: #ffffff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        width: 20%;
    }

    .btn:hover {
        background-color: #0056b3;
    }

</style>

<script>
    // Add click event listeners to toggle company details
    const companyRows = document.querySelectorAll('.company-row');
    companyRows.forEach(row => {
        const header = row.querySelector('.company-header');
        const details = row.querySelector('.company-details');
        header.addEventListener('click', () => {
            row.classList.toggle('opened');
            details.style.display = details.style.display === 'none' ? 'block' : 'none';
        });
    });
</script>
{% endblock %}
