{% extends 'base.html' %}

{% block title %}ویرایش نام دستگاه{% endblock %}

{% block content_title %}
<h1>شرکت  {{ company_name }}</h1>
<h1>ویرایش نام دستگاه {{ device_model.name }}</h1>
{% endblock %}

{% block content %}

<div class="container">
    <form method="post">
        {% csrf_token %}
        <div class="input-group">
            <label for="{{ form.name.id_for_label }}" class="form-label">نام دستگاه</label>
            {{ form.name }}
        </div>
        <br>
        <button type="submit" class="btn">ذخیره</button>
    </form>
</div>

<style>
    .form-label {
        color: #131111;
        display: block;
        margin-bottom: 5px;
    }

    .form-control {
        width: 100%;
        padding: 10px;
        border: 1px solid #333;
        border-radius: 5px;
        background-color: #333;
        color: #ffffff;
    }

    .form-control:focus {
        outline: none;
    }

    .btn {
        background-color: #007BFF;
        color: #ffffff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        width: 100%;
    }

    .btn:hover {
        background-color: #0056b3;
    }
    input {
    width: 97%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f7f7f7;
    color: #333;
    font-size: 16px; /* Adjust the font size as needed */
    font-weight: bold;
    cursor: default;
    outline: none;
}
</style>
{% endblock %}
