{% extends 'base.html' %}

{% block title %} مدیر پیامرسان{% endblock %}

<h1>{% block content_title %} مدیر پیامرسان {{ company.name }}{% endblock %}</h1>

{% block content %}

<div class="container">
    <form method="post">
        {% csrf_token %}
        <div class="input-group">
            <label for="{{ form.messenger.id_for_label }}" class="form-label">نوع پیامرسان</label>
            {{ form.messenger }}
        </div>
        <div class="input-group">
            <label for="{{ form.admin_messenger_id.id_for_label }}" class="form-label">شناسه مدیر پیامرسان</label>
            {{ form.admin_messenger_id }}
        </div>
        <br>
        <button type="submit" class="btn">ذخیره</button>
    </form>
    <br>
    <button type="button" class="btn btn-danger" id="deleteButton">
        حذف
    </button>
    <br><br>
    <a href="{% url 'raad:dashboard' %}" class="btn btn-secondary">بازگشت</a>
</div>

<script>
    // Add confirmation dialog before redirecting to delete URL
    document.getElementById('deleteButton').addEventListener('click', function () {
        if (window.confirm('آیا از حذف مدیر پیامرسان مطمئن هستید؟')) {
            window.location.href = "{% url 'raad:delete_messenger_admin' object_id %}";
        }
    });
</script>

<style>
    .form-label {
        color: #ffffff;
        display: block;
        margin-bottom: 5px;
    }

    .form-control {
        width: 100%;
        padding: 10px;
        border: 1px solid #333;
        border-radius: 5px;
        background-color: #333;
        color: #ffffff;
    }

    .form-control:focus {
        outline: none;
    }

    .btn {
        background-color: #007BFF;
        color: #ffffff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        width: 100%;
    }

    .btn:hover {
        background-color: #0056b3;
    }
        input {
    width: 97%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f7f7f7;
    color: #333;
    font-size: 16px; /* Adjust the font size as needed */
    font-weight: bold;
    cursor: default;
    outline: none;
}
    select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f7f7f7;
    color: #333;
    font-size: 16px; /* Adjust the font size as needed */
    font-weight: bold;
    cursor: default;
    outline: none;
}

</style>
{% endblock %}
